<!doctype html>
<html lang='en'>

<head>

    <title>Coin Flip</title>
    <meta charset='utf-8'>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js" defer></script>
    <script src="script.js" defer></script>

    <style>
        div {
            padding: 10px 0;
        }

        #winMessage {
            color: green;
        }

        #loseMessage {
            color: red;
        }

        [v-cloak] {
            display: none
        }
    </style>

</head>

<body>

    <h1>Coin Flip</h1>
    <div id='app' v-cloak>

        <div>
            <label><input type='radio' value='heads' v-model='choice'> heads</label>
            <label><input type='radio' value='tails' v-model='choice'> tails</label>
        </div>

        <button id='flipBtn' v-on:click='flip'>Flip!</button>

        <div v-if='flipped'>
            The coin landed on <strong>{{ coin }}</strong>
            <div id='winMessage' v-if='winner'>You won the toss! :-)</div>
            <div id='loseMessage' v-else>You lost the toss :-(</div>
        </div>
</body>

</html>